.account-container {
  margin-top: 60px;
}

.forgot-password-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.form-control {
  font-size: 14px;
  border-left: 4px solid rgb(80, 59, 128);
}
.form-control:focus {
  box-shadow: none;
  border: none;
  
  border-left: none;
  border-bottom: 3px solid rgb(80, 59, 128);
}