.container {
    margin-top: 50px;
}
.profile-card {
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(80, 59, 128, 0.8);
    margin-top: 50px;
}

.profile-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}